{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %} 

{% block contenido %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Bienvenidos al sitio de la librería</h2>
            <h5>Comienza a ingresar libros</h5>
            <a

            class="btn btn-success"
            href="{% url 'libros' %}"
            role="button"
            >Empezar</a>

        </div>
    </div>

{% endblock %}